{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "eslint",
        "releaseRules": [
          {
            "tag": "breaking",
            "scope": "*",
            "release": "major"
          },
          {
            "tag": "feat",
            "scope": "*",
            "release": "minor"
          },
          {
            "tag": "fix",
            "scope": "*",
            "release": "patch"
          },
          {
            "tag": "update",
            "scope": "*",
            "release": "minor"
          },
          {
            "tag": "new",
            "scope": "*",
            "release": "minor"
          },
          {
            "tag": "breaking",
            "scope": "*",
            "release": "major"
          },
          {
            "tag": "docs",
            "scope": "*",
            "release": "patch"
          },
          {
            "tag": "upgrade",
            "scope": "*",
            "release": "patch"
          }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "branches": [
    "main",
    "next",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ]
}
